<h1>News</h1>

<table class="table table-hover table-bordered">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Creation date</th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= link_to news.title, news %></td>
    <td><%= news.author %></td>
    <td><%= news.created_at.strftime("%A, %d-%m-%Y %H:%M") %></td>
  </tr>
<% end %>
</table>
